.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pozadina{

  background-image:url(cover2.jpg) ;
  align-items: center;
  
}
body {
  background-image: url(cover2.jpg);
  background-position: center; 
  background-size: cover;
   background-repeat: no-repeat;
   margin: 150px;
   height: 100vh;
   align-items: center;
   
   

}
.hello{

background-color: black;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 90px;
border-radius: 50px;


}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
}
.paragraph{
  margin-top: 0px;
  background-color:rgb(69, 30, 30);
  border: none;
  color:green;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  text-decoration:dashed;
  border-radius: 10px;
  
  
  }

  .paragraph2{
    margin-top: 0px;
    background-color:green;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    text-decoration:dashed;
    border-radius: 10px;
    
    
    }